.container{
    swiper{
        height: 400rpx;
        image{
            width: 100%;
            height: 100%;
        }
    }
    .select{
        width: 60vh;
        height: 100rpx;
        display: flex;
        .item{
            
            flex-direction: column;
            font-size: 20pt;
            flex-wrap: nowrap;
            word-break: keep-all;
            //It's my hurt
            padding: 15rpx;
        }
        .active{
            border-bottom: 5rpx solid currentColor;
            color:#328EE8;
        }
    }
}