.container swiper {
  height: 400rpx;
}
.container swiper image {
  width: 100%;
  height: 100%;
}
.container .select {
  width: 100%;
  height: 100rpx;
  display: flex;
}
.container .select .item {
  flex-direction: column;
  font-size: 40rpx;
  flex-wrap: nowrap;
  word-break: keep-all;
  padding: 15rpx 15rpx 15rpx 15rpx;
  height: 50rpx;
  border-bottom: 1px solid gray;
}
.container .select .active {
  border-bottom: 5rpx solid currentColor;
  color: #328EE8;
}
